.sidebar-container {
    width: 90px;
    height: 100vh;
    background: #313446;
    box-sizing: border-box;
  }
 
  
  .sidebar-menu-item {
    padding: auto;
    cursor: pointer;
    align-items: center;
    background-color: inherit;
  }
  .ant-menu {
    background-color: inherit;
    
  }
  
  /* Change the color of menu items */
  .ant-menu-item {
    color: white;
  }
  
  /* Change the color of selected menu items */
  .ant-menu-item-selected {
    background-color: white;
    color: #313446;
  }
  .ant-menu-item-hover {
    background-color: white;
  }
  
 
